<mat-card>
    <table class="user-table">
        <tr>
            <th [class.center]="sortedName" (click)="sortBy('lastName')">Name <mat-icon *ngIf="sortedName">keyboard_arrow_down</mat-icon></th>
            <th [class.center]="sortedEmail"(click)="sortBy('email')">E-Mail <mat-icon *ngIf="sortedEmail">keyboard_arrow_down</mat-icon></th>
            <th [class.center]="sortedPhone"(click)="sortBy('phone')">Phone <mat-icon *ngIf="sortedPhone">keyboard_arrow_down</mat-icon></th>
            <th [class.center]="sortedBranche"(click)="sortBy('department')">Branche <mat-icon *ngIf="sortedBranche">keyboard_arrow_down</mat-icon></th>
        </tr>
        <tr *ngFor="let customer of sortedList" [routerLink]="['/customers/' + customer.id]">
            <td>{{ customer.name }}</td>
            <td>{{ customer.email }}</td>
            <td>{{ customer.phone }}</td>
            <td>{{ customer.branche }}</td>
        </tr>
    </table>
</mat-card>
<button (click)="openDialog()" mat-fab color="primary" class="fab-btn-add" matTooltip="Add new User"
    [matTooltipPosition]="'above'">
    <mat-icon>add</mat-icon>
</button>
