<div *ngFor="let data of userData">
  <mat-card class="user-details-header">
    <button mat-icon-button class="edit-button" [matMenuTriggerFor]="userMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #userMenu="matMenu">
      <button mat-menu-item (click)="editUserDialog()">Edit</button>
    </mat-menu>
    <div style="display: flex;">
      <img class="profile-img" src="./assets/img/profile.png">
      <div class="user-details">
        <h2>{{ data.firstName }} {{ data.lastName }}</h2>
        <p class="infos-header-text">{{ data.email }} <br>
          {{ birthDate }} <br> {{ data.phone }}</p>
      </div>
    </div>

    <div>
      <h2>Department:</h2>
      <p>{{ data.department }}</p>
    </div>
  </mat-card>
  <mat-card class="mt-32">
    <button mat-icon-button class="edit-button" [matMenuTriggerFor]="adressMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #adressMenu="matMenu">
      <button mat-menu-item (click)="editAdressDialog()">Edit</button>
    </mat-menu>
    <mat-card-header>
      <mat-card-title>Address</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      {{ data.street }} <br>
      {{ data.zipCode }} {{ data.city }}
    </mat-card-content>
  </mat-card>
  <mat-card class="mt-32">
    <button mat-icon-button class="edit-button" [matMenuTriggerFor]="adressMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #adressMenu="matMenu">
      <button mat-menu-item (click)="editAdressDialog()">Edit</button>
    </mat-menu>
    <mat-card-header>
      <mat-card-title>Customers managed</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <table class="user-table">
        <tr>
            <th>Name</th>
            <th>Branche</th>
            <th>Phone</th>
        </tr>
        <tr *ngFor="let customer of customersData" [routerLink]="['/customers/' + customer.id]">
            <td>{{ customer.name }}</td>
            <td>{{ customer.branche }}</td>
            <td>{{ customer.phone }}</td>
        </tr>
    </table>
    </mat-card-content>
  </mat-card>
</div>